@import "../../styles//modules/importAll";

.single-repo {
  padding: 16px;
  margin-top: -1px;
  border-top: 1px solid $single-row-border;

  .title-wrap {
    @include flexPlacement(row, space-between, center);

    .title-flex {
      @include flexPlacement(row, center, center);

      .repo-title {
        margin-left: 7px;
        line-height: 1.25;
        font-weight: 600;
        font-size: 20px;
        color: $title-link-color;
        cursor: pointer;
      }
      .repo-title:hover {
        text-decoration: underline;
      }
    }

    .repo-star {
      @include flexPlacement(row, center, center);
      font-size: 12px;
      line-height: 20px;
      padding: 3px 12px;
      color: $body-color-primary;
      background: $single-row-border;
      border-color: $border-color-primary !important;
      appearance: none;
      border: 1px solid;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      
      .star-text {
        margin-left: 5px;
      }
    }
  }

  .description {
    margin-bottom: 8px;
    margin-top: 8px;
    color: $body-color-secondary;
    width: 75%;
    font-size: 14px;
  }

  .stacks-section {
    @include flexPlacement(row, space-between, center);
    margin-top: 10px;
    font-size: 12px;


    .left-section {
      @include flexPlacement(row, space-between, center);

      .section-item {
        @include flexPlacement(row, center, center);
        margin-right: 20px;
        color: $body-color-secondary;

      }

      .stars {
        cursor: pointer;
        .star-figure {
          margin-left: 5px;
        }
      }

      .stars:hover {
        color: $title-link-color;
      }
      .fork {
        cursor: pointer;
        .fork-figure {
          margin-left: 5px;
        }
      }

      .fork:hover {
        color: $title-link-color;
      }

    
    }

    .right-section {
      .stars-today {
        @include flexPlacement(row, center, center);
        cursor: pointer;
        .star-figure {
          margin-left: 5px;
        }
      }
    }
  }
}
