//colors
$background: #0d1117;
$body-color-primary: #c9d1d9;
$body-color-secondary: #8b949e;
$border-color-primary: #30363d;
$active-button-background: #1f6feb;
$active-border-color: #388bfd;
$active-button-color: #f0f6fc;
$dropdown-text-color: #8b949e;
$filter-group-backgroud: #161b22;
$single-row-border: #21262d;
$title-link-color: #58a6ff;
$like-button-color: #db6182;
$tooltip-card-background: #21262d;