@import "../../styles//modules/importAll";

.repo-img, .repo-avatar, .repo-footer, .repo-text, .repo-header, .author-list, .star-btn, .today-stars, .bottom-icon {
  -webkit-animation: repo 1s ease-in-out forwards infinite;
          animation: repo 1s ease-in-out forwards infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes repo {
  0% {
    opacity: 0.2;
    transform: translateY(6px) scale(0.98);
  }
  85%, 100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes repo {
  0% {
    opacity: 0.2;
    transform: translateY(6px) scale(0.98);
  }
  85%, 100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.repo {
  padding: 0.8rem 0.75rem;
  width: 100%;
  border: 1px solid $single-row-border;
  overflow: hidden;
  margin-top: -1px;
}

.repo-header {
  transform-origin: bottom;
  display: flex;
  width: 80%;

  .repo-icon {
    margin-right: 5px;
  }
}

.top-flex {
  display: flex;
  justify-content: space-between;
}

.repo-text {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .details-section {
    display: flex;
    align-items: flex-end;

    .bottom-icon {
      margin-right: 10px;
    }
  }
}

.author-list {
  display: flex;
  margin-top: 1rem;
  transform-origin: bottom;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.repo {
  
}
.repo-avatar {
  width: 48px;
  height: 48px;
  background-color: #213243;
  border-radius: 100%;
  float: left;
}
.repo-line {
  height: 0.7rem;
  background-color: #213243;
  border-radius: 3px;
  margin-bottom: 0.3rem;
  border-radius: 6px;
}
.repo-line.heading {
  height: 1rem;
  margin-bottom: 0.5rem;
}
.repo-img {
  height: 250px;
  background-color: #213243;
  border-radius: 0.75rem;
  margin-top: 1.5rem;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.repo-button {
  display: block;
  width: 26px;
  height: 26px;
  background-color: #213243;
  flex-shrink: 0;
}

.repo-button.rounded {
  border-radius: 100%;
  margin-right: 1px;
}