.avatar {
   background-size: cover;
   background-position: top center;
   border-radius: 50%;
   display: inline-block;
   flex-shrink: 0;
   line-height: 1;
   overflow: hidden;
   margin: 1.5px;
   cursor: pointer;
}